.runnerups {
  margin-top: 70px;
}

.winners {
  background: #9EDAE0;
  padding: 15px;
  margin-bottom: 30px;
  color: white;
  border-bottom: #39375B;
  border-bottom-style: solid;
  border-bottom-width: 5px;
  font-family: 'Lato', sans-serif;
  font-weight: 600;

}

#workshops {
  margin-top: 30px;
  margin-bottom: 30px;
}

#container-feedback {
  margin-top:50px;
}

#sponsor-hackerEarth {
  margin-top: 30px;
}

#sponsor-soylent {
  margin-top: 30px;
}

#sponsor-facebook {
  margin-top: 30px;
}

#sponsor-ivanti{
  margin-top: 30px;
}

#header-logo {
  max-width: 70%;
  position: relative;
  margin-bottom:0px;
}
#header-title {
  color:black;
}
#header-deadline{
  color:black;
  margin-top:30px
}

#header-tagline {
  position: relative;
  top: -200px;
}

#apply {
  margin-top: 40px;
  width: 200px;
  height: 45px;
}
#video-faq {
 margin-top: 25px;
 margin-bottom:25px;
}

#about-one {
  margin: 70px;
}
#about-two {
  padding: 10px;
  margin-top: 120px;
  margin-bottom:120px;
}
#about-three {
  padding: 10px;
  margin-top: 120px;
  margin-bottom:120px;
}
