html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 100px;
  background: black; }

#content-body {
  width: 100%;
  height: 100%;
  background-size: 100%; }
  #content-body .video-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; }
  #content-body .video-container video {
    /* Make video to at least 100% wide and tall */
    min-width: 100%;
    min-height: 100%;
    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: auto;
    height: auto;
    /* Center the video */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  #content-body .video-background {
    background: #000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -99; }
  #content-body .video-foreground,
  #content-body .video-background iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; }
  #content-body #overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    background: black;
    opacity: 0.5; }
  #content-body .text-body {
    position: relative;
    top: 50%;
    text-align: center;
    transform: translateY(-55%);
    color: white; }
    #content-body .text-body .text-header {
      font-weight: bold;
      font-size: 160px;
      opacity: 0;
      animation: fade-in 1s ease-out;
      animation-fill-mode: forwards; }
      #content-body .text-body .text-header p {
        width: 100%;
        height: 100%;
        margin: 0; }
    #content-body .text-body .text-subheader {
      font-size: 90px;
      color: #A5CEDA;
      opacity: 0;
      animation: fade-in 0.5s ease 1s;
      animation-fill-mode: forwards; }
    #content-body .text-body #nav-spine {
      position: relative;
      left: 12%;
      opacity: 0;
      animation: fade-in 0.5s ease 1.5s;
      animation-fill-mode: forwards; }
      #content-body .text-body #nav-spine .nav-item {
        font-size: 30px;
        margin-left: 81px; }

a {
  cursor: pointer;
  transform: translate3d(-50%, -50%, 0);
  padding: 0.7em calc(0.7em * 1.2);
  display: inline-block;
  border: 3px solid transparent;
  text-decoration: none;
  color: white; }
  a .text {
    transform: translate3d(0, 0.7em, 0);
    display: block;
    transition: transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s; }
  a:after {
    position: absolute;
    content: '';
    bottom: -3px;
    left: calc(0.7em * 1.2);
    right: calc(0.7em * 1.2);
    height: 3px;
    background: #A5CEDA;
    z-index: -1;
    transition: transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s, right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s, left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s;
    transform-origin: left; }

.line {
  position: absolute;
  background: #A5CEDA; }
  .line.-right, .line.-left {
    width: 3px;
    bottom: -3px;
    top: -3px;
    transform: scale3d(1, 0, 1); }
  .line.-top, .line.-bottom {
    height: 3px;
    left: -3px;
    right: -3px;
    transform: scale3d(0, 1, 1); }
  .line.-right {
    right: -3px;
    transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.23s;
    transform-origin: top; }
  .line.-top {
    top: -3px;
    transition: transform 0.08s linear 0.43s;
    transform-origin: left; }
  .line.-left {
    left: -3px;
    transition: transform 0.08s linear 0.51s;
    transform-origin: bottom; }
  .line.-bottom {
    bottom: -3px;
    transition: transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
    transform-origin: right; }

a:hover,
a:active {
  color: white;
  text-decoration: none; }
  a:hover .text,
  a:active .text {
    transform: translate3d(0, 0, 0);
    transition: transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s; }
  a:hover:after,
  a:active:after {
    transform: scale3d(0, 1, 1);
    right: -3px;
    left: -3px;
    transform-origin: right;
    transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s, right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s; }
  a:hover .line,
  a:active .line {
    transform: scale3d(1, 1, 1); }
    a:hover .line.-right,
    a:active .line.-right {
      transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.2s;
      transform-origin: bottom; }
    a:hover .line.-top,
    a:active .line.-top {
      transition: transform 0.08s linear 0.4s;
      transform-origin: right; }
    a:hover .line.-left,
    a:active .line.-left {
      transition: transform 0.08s linear 0.48s;
      transform-origin: top; }
    a:hover .line.-bottom,
    a:active .line.-bottom {
      transition: transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
      transform-origin: left; }

/* Keyframes */
@keyframes fade-in {
  to {
    opacity: 1; } }

/*# sourceMappingURL=style.css.map */
