// Colors 
$light-blue: #A5CEDA;

html,body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	font: {
		family: 'Roboto', sans-serif;
		size: 100px;
	}
	background: black;
}
#content-body {
	width: 100%;
	height: 100%;
	//background: url("background.jpg");
	background-size: 100%;

  .video-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%; 
    overflow: hidden;
  }
  .video-container video {
    /* Make video to at least 100% wide and tall */
    min-width: 100%; 
    min-height: 100%; 

    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: auto;
    height: auto;

    /* Center the video */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

    .video-background {
      background: #000;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: -99;
    }
    .video-foreground,
    .video-background iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
    }

	#overlay {
		height: 100%;
		width: 100%;
		position: absolute;
		background: black;
		opacity: 0.5;
	}

	.text-body {
		position: relative;
		top: 50%;
		text-align: center;
		transform: translateY(-55%);
		color: white;

		.text-header {
			font-weight: bold;
			font-size: 160px;
			opacity: 0;
			animation: fade-in 1s ease-out;
			animation-fill-mode: forwards;

			p {
				width: 100%;
				height: 100%;
				margin: 0;
			}
		}

		.text-subheader {
			font-size: 90px;
			color: $light-blue;
			opacity: 0;
			animation: fade-in 0.5s ease 1s;
			animation-fill-mode: forwards;
		}

		#nav-spine {
			position: relative;
			left: 12%;
			opacity: 0;
			animation: fade-in 0.5s ease 1.5s;
			animation-fill-mode: forwards;

			.nav-item {
				font-size: 30px;
				margin-left: 81px;
			}
		}
	}
}

$thick : 3px;
$pad : 0.7em;
$extra : calc(#{$pad} * 1.2);
$color : $light-blue;

a {
  cursor: pointer;
  transform: translate3d(-50%,-50%,0);
  padding: $pad $extra;
  display: inline-block;
  border: $thick solid transparent;
  text-decoration: none;
  color: white;
  
  .text {
    transform: translate3d(0,$pad,0);
    display: block;
    transition: transform 0.4s cubic-bezier(.2,0,0,1) 0.4s;
  }
  
  &:after {
    position: absolute;
    content: '';
    bottom: -$thick;
    left: $extra;
    right: $extra;
    height: $thick;
    background: $color;
    z-index: -1;
    transition: 
      transform 0.8s cubic-bezier(1,0,.37,1) 0.2s,
      right 0.2s cubic-bezier(.04,.48,0,1) 0.6s,
      left 0.4s cubic-bezier(.04,.48,0,1) 0.6s;
    transform-origin: left;
  }
 
}

.line {
  position: absolute;
  background: $color;
  
  &.-right,
  &.-left {
    width: $thick;
    bottom: -$thick;
    top: -$thick;
    transform: scale3d(1,0,1);
  }  
  
  &.-top,
  &.-bottom {
    height: $thick;
    left: -$thick;
    right: -$thick;
    transform: scale3d(0,1,1);
  }
  
  &.-right {
    right: -$thick;
    transition: transform 0.1s cubic-bezier(1,0,.65,1.01) 0.23s;
    transform-origin: top;
  }
  
  &.-top {
    top: -$thick;
    transition: transform 0.08s linear 0.43s;
    transform-origin: left;
  }
  
  &.-left {
    left: -$thick;
    transition: transform 0.08s linear 0.51s;
    transform-origin: bottom;
  }
  
  &.-bottom {
    bottom: -$thick;
    transition: transform 0.3s cubic-bezier(1,0,.65,1.01);
    transform-origin: right;
  }  
}

a:hover,
a:active {

  color: white;
  text-decoration: none;
  
  .text {
    transform: translate3d(0,0,0);
    transition: transform 0.6s cubic-bezier(.2,0,0,1) 0.4s;
  }
  
  &:after {
    transform: scale3d(0,1,1);
    right: -$thick;
    left: -$thick;
    transform-origin: right;
    transition: 
      transform 0.2s cubic-bezier(1,0,.65,1.01) 0.17s,
      right 0.2s cubic-bezier(1,0,.65,1.01),
      left 0s 0.3s;
  }
  
  .line {
    transform: scale3d(1,1,1);
    
    &.-right {
      transition: transform 0.1s cubic-bezier(1,0,.65,1.01) 0.2s;
      transform-origin: bottom;
    }

    &.-top {
      transition: transform 0.08s linear 0.4s;
      transform-origin: right;
    }

    &.-left {
      transition: transform 0.08s linear 0.48s;
      transform-origin: top;
    }

    &.-bottom {
      transition: transform 0.5s cubic-bezier(0,.53,.29,1) 0.56s;
      transform-origin: left;
    }
  }
  
}

/* Keyframes */
@keyframes fade-in {
	to {
		opacity: 1;
	}
}