html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 100px;
  background: black;
  overflow-x: hidden; }

#content-body {
  width: 100%;
  height: 100%;
  background-size: 100%; }
  #content-body .video-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; }
  #content-body .video-container video {
    /* Make video to at least 100% wide and tall */
    min-width: 100%;
    min-height: 100%;
    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: auto;
    height: auto;
    /* Center the video */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  #content-body .video-background {
    background: #000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -99; }
  #content-body .video-foreground,
  #content-body .video-background iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; }
  #content-body #overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    background: black;
    opacity: 0.5; }
  #content-body .text-body {
    position: relative;
    top: 40%;
    text-align: center;
    transform: translateY(-55%);
    color: white; }
    #content-body .text-body .text-header {
      font-weight: bold;
      font-size: 150px; }
      #content-body .text-body .text-header p {
        width: 100%;
        height: 100%;
        margin-bottom: -35px; }
    #content-body .text-body .text-subheader {
      font-size: 75px;
      color: #A5CEDA;
      opacity: 0;
      animation: fade-in 0.5s ease 1s;
      animation-fill-mode: forwards; }
  #content-body #nav-spine {
    position: relative;
    top: 20px;
    height: 100px;
    width: 100%;
    text-align: center; }
    #content-body #nav-spine .nav-item {
      font-size: 25px;
      height: 40px;
      width: 150px;
      position: relative;
      left: 50%;
      margin-left: 10px;
      display: inline-block;
      opacity: 0.7;
      transition: 0.4s; }
      #content-body #nav-spine .nav-item:hover {
        opacity: 1;
        transform: scale(1.1, 1.1); }
    #content-body #nav-spine a {
      text-decoration: none;
      color: white; }
  #content-body .sponsors-body {
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: -100px; }
    #content-body .sponsors-body .sponsors-spine {
      text-align: center;
      width: 100%; }
      #content-body .sponsors-body .sponsors-spine .sponsors-text {
        font-size: 50px;
        opacity: 0.5;
        display: inline-block;
        line-height: -100px;
        opacity: 0;
        animation: fade-in2 0.5s ease 2s;
        animation-fill-mode: forwards; }
      #content-body .sponsors-body .sponsors-spine .sponsors-item {
        display: inline-block;
        position: relative;
        top: 10px; }
      #content-body .sponsors-body .sponsors-spine img {
        object-fit: cover;
        height: 75px;
        opacity: 0;
        animation: fade-in2 0.5s ease 2s;
        animation-fill-mode: forwards;
        transition: 0.3s; }
        #content-body .sponsors-body .sponsors-spine img:hover {
          opacity: 1;
          background: white; }

@media (max-width: 1300px) {
  #content-body .text-body .text-header {
    font-size: 125px; }

  #content-body #nav-spine .nav-item {
    left: 30%; } }
@media (max-width: 1000px) {
  #content-body .text-body .text-header {
    font-size: 100px; }

  #content-body .text-body .text-subheader {
    font-size: 50px; }

  #content-body .sponsors-body .sponsors-spine .sponsors-text {
    font-size: 25px; }

  #content-body .sponsors-body .sponsors-spine img {
    height: 50px;
    top: 20px; } }
@media (max-width: 500px) {
  #content-body .sponsors-body .sponsors-spine {
    display: none; }

  #content-body #nav-spine {
    top: 55%;
    height: 100px;
    width: 325px;
    margin: 0 auto;
    text-align: center; }

  #content-body #nav-spine .nav-item {
    opacity: 0;
    left: 0px;
    background: #A5CEDA;
    animation: fade-in 0.5s ease 1s;
    animation-fill-mode: forwards; }

  #content-body .text-body {
    top: 20%; }

  #content-body .text-body .text-subheader {
    display: none; } }
/* Keyframes */
@keyframes fade-in {
  to {
    opacity: 1; } }
@keyframes fade-in2 {
  to {
    opacity: 1; } }

/*# sourceMappingURL=style.css.map */
